$black: #101010;
$white: #ffffff;
$purple: #7244c8;
$gray: #f9fafb;
$gray_500: #667085;
$pink: #f4ebff;
$green: #12b76a;
$linear-gradient: linear-gradient(
    rgba(127, 86, 217, 0.9),
    rgba(47, 35, 74, 0.9)
  ),
  url("../../public/imgs/shop.jpg");
